<!-- basic home page below -->
<!--<section class="hero is-primary
is-fullheight is-bold">
    <div class="hero-body">
    <div class="container has-text-centered">

      <h1 class="title">Anna's Architecture Home Page!</h1>

    </div>
    </div>
  </section> -->

<section class="hero is-success is-fullheight">
<!-- Hero head: will stick at the top -->
<div class="hero-head">
    <header class="navbar">
    <div class="container">
        <div class="navbar-brand">
        <span class="navbar-burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
        </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item is-active" routerLink="/">
                Home
            </a>
            <a class="navbar-item" routerLink="client-creation/">
                Client Creation
            </a>
            <a class="navbar-item" routerLink="meetings/">
                Meetings
            </a>
            <span class="navbar-item">
            </span>
        </div>
        </div>
    </div>
    </header>
</div>

<!-- Hero content: will be in the middle -->
<div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title">Anna's Architecture Home Page!</h1>
    </div>
</div>

<!-- Hero footer: will stick at the bottom -->
<!--<div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
    <div class="container">
        <ul>
        <li class="is-active"><a>Overview</a></li>
        <li><a>Modifiers</a></li>
        <li><a>Grid</a></li>
        <li><a>Elements</a></li>
        <li><a>Components</a></li>
        <li><a>Layout</a></li>
        </ul>
    </div>
    </nav>
</div>
</section> -->
